.input
{
    width:500px;
    height:40px;
    color:blue;
    border:2px solid red;
    border-radius: 90px;
}
.container
{
    width: 100%;
    height:50px;
    border-radius: 90px;
}
.all
{
    background-color: cornflowerblue;
    border-radius: 90px;
    color:white;
}